In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("ItemProfits11k.csv")

In [4]:
data = data.rename(index=str, columns={"title@": "title"})

In [5]:
data.head(10)

,id,month,week,price,cost,profit,catid,title
0,20180726090450,2018-09,201835,78.00,34.500000,43.500000,551,Vintage Phil Austin Ice Fishermen Devils Lake ...
1,20180730104955,2018-09,201834,10.49,69.000000,-58.510000,360,Antique 18th C Fabio Berardi Italian Seaside S...
2,20180730094220,2018-09,201834,23.97,34.500000,-10.530000,360,Antique 19th C Nuremberg Henkersteg Bridge Cit...
3,20180807152117,2018-09,201835,89.00,69.000000,20.000000,592,Antique Rockingham Glazed Yellowware Stoneware...
4,20180731090728,2018-09,201834,46.00,42.170000,3.830000,360,Antique 18th C Samuel & Nathaniel Buck Kenilwo...
5,20180816145716,2018-09,201835,281.00,165.930500,115.069500,29223,HAND SIGNED 1945 Marc Chagall Edition 175 / 15...
6,20180815120220,2018-09,201835,0.99,11.500000,-10.510000,162986,VTG Thai Carved Wood Toy Model Royal Barge Dra...
7,20180816110942,2018-09,201835,91.00,46.000000,45.000000,152537,Antique Schumann NY Sterling Silver & Wood Gen...
8,20180814113129,2018-09,201834,167.50,89.403125,78.096875,29442,Vintage African Guro Tribe Carved & Painted Wo...
9,20180822113118,2018-09,201835,332.77,74.670000,258.100000,10292,Estate Vintage 1950's Southwest Americana Benn...

In [14]:
data.describe()

,id,week,price,cost,profit,catid
count,1.100000e+04,11000.000000,11000.000000,10537.000000,10537.000000,11000.000000
mean,2.017379e+13,201764.465364,116.521882,59.338283,56.462637,33200.409818
std,5.784247e+09,47.936123,203.435726,120.350140,171.243493,51024.324504
min,2.014102e+13,201701.000000,0.990000,0.000000,-2915.000000,12.000000
25%,2.017041e+13,201720.000000,35.000000,14.290000,2.300000,551.000000
50%,2.017103e+13,201747.000000,67.000000,34.500000,29.720000,2734.000000
75%,2.018032e+13,201815.000000,134.490000,69.000000,74.060000,38126.000000
max,2.018082e+13,201835.000000,9975.200000,5175.000000,9962.700000,184440.000000

In [16]:
cats = data.catid.unique()

In [17]:
len(cats)

1057

In [9]:
data.groupby("catid").count()

        id  month  week  price  cost  profit  title
catid
12      70     70    70     70    66      66     70
21       2      2     2      2     2       2      2
22       2      2     2      2     2       2      2
30      46     46    46     46    46      46     46
31       3      3     3      3     3       3      3
32       2      2     2      2     2       2      2
35       9      9     9      9     9       9      9
48      18     18    18     18    18      18     18
52       1      1     1      1     1       1      1
58       1      1     1      1     1       1      1
61       2      2     2      2     2       2      2
64      26     26    26     26    26      26     26
65       1      1     1      1     1       1      1
89       3      3     3      3     3       3      3
90       1      1     1      1     1       1      1
92       2      2     2      2     2       2      2
93       4      4     4      4     4       4      4
95       1      1     1      1     1       1      1
96      10     10    10     10    10      10     10
117      2      2     2      2     2       2      2
118      1      1     1      1     1       1      1
125      2      2     2      2     2       2      2
128      2      2     2      2     2       2      2
130     12     12    12     12    12      12     12
133      1      1     1      1     1       1      1
135      2      2     2      2     2       2      2
136      7      7     7      7     7       7      7
140      6      6     6      6     6       6      6
144      5      5     5      5     5       5      5
208      5      5     5      5     5       5      5
...     ..    ...   ...    ...   ...     ...    ...
165887   1      1     1      1     1       1      1
165968   2      2     2      2     2       2      2
166292  26     26    26     26    26      26     26
166293   1      1     1      1     1       1      1
166732   1      1     1      1     0       0      1
166734   2      2     2      2     2       2      2
166736   4      4     4      4     4       4      4
166802   1      1     1      1     1       1      1
167948   1      1     1      1     1       1      1
167996   1      1     1      1     1       1      1
168867   1      1     1      1     1       1      1
169269   4      4     4      4     4       4      4
170063   4      4     4      4     4       4      4
170064   5      5     5      5     5       5      5
170077   1      1     1      1     1       1      1
173611   1      1     1      1     1       1      1
173623   4      4     4      4     4       4      4
175750   1      1     1      1     1       1      1
176985   3      3     3      3     3       3      3
177030   1      1     1      1     0       0      1
177908   4      4     4      4     4       4      4
178895   1      1     1      1     1       1      1
179530  26     26    26     26    24      24     26
179654   1      1     1      1     1       1      1
180507   1      1     1      1     1       1      1
181159   2      2     2      2     2       2      2
181727   8      8     8      8     8       8      8
182060   9      9     9      9     9       9      9
184437   1      1     1      1     1       1      1
184440  19     19    19     19    16      16     19

[1057 rows x 7 columns]