In [1]:
import numpy as np

In [2]:
future_array1 = [1,2,3,4,5] # 1 dimensional array
array1 = np.array(future_array1)
array1

array([1, 2, 3, 4, 5])

In [3]:
future_array2 = [(1,2,3,4), (5,6,7,8), (9,10,11,12)] # 2 dimensional array
array2 = np.array(future_array2) 
array2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [6]:
placeholder_zero = np.zeros((3,4), dtype=np.int) # default dtype is np.float
placeholder_zero

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [7]:
placeholder_one = np.ones((3,4), dtype=np.int) # default dtype is np.float
placeholder_one

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [10]:
placeholder_one = np.ones((3,4), dtype=np.int) # default dtype is np.float
placeholder_one

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [11]:
placeholder_random = np.random.random((3,4)) # default dtype is np.float
placeholder_random

array([[ 0.50134615,  0.04019389,  0.78476418,  0.70000851],
       [ 0.07480332,  0.41234013,  0.54419753,  0.02738984],
       [ 0.65531114,  0.72116394,  0.47982377,  0.477039  ]])

In [12]:
placeholder_constant = np.full((3,4), 25, dtype=np.int) # default dtype is np.float
placeholder_constant

array([[25, 25, 25, 25],
       [25, 25, 25, 25],
       [25, 25, 25, 25]])

In [15]:
placeholder_eye = np.eye(4, dtype=np.int) # default dtype is np.float
placeholder_eye

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [16]:
# sequence based on steps (start, end, step_value)
sequence_array1 = np.arange(10, 30, 4)
sequence_array1

array([10, 14, 18, 22, 26])

In [18]:
# evenly spaced sequence based on number specified (start, end, number_of_elements)
sequence_array2 = np.linspace(10, 30, 5)
sequence_array2

array([ 10.,  15.,  20.,  25.,  30.])

In [ ]:
# upload data to an array
data = np.genfromtxt("your_file_here.csv", delimiter=",") # csv = comma separated values

In [19]:
"""

C) Indexing

"""

'\n\nC) Indexing\n\n'

In [20]:
# 1 dimensional array
array1[1:3]

array([2, 3])

In [21]:
# 2 dimensional array
array2[1][1:3] # array at index 1 because it has multiple dimensions, remember?

array([6, 7])

In [22]:
# We can change the values with indexing!
array1[1] = 100
array1

array([  1, 100,   3,   4,   5])

In [23]:
# We can index with an array!
array1[np.array([1,3])]

array([100,   4])

In [ ]:
"""

D) Iterating

"""

In [25]:
# 1 dimensional array
for i in array1:
    print (i)

1
100
3
4
5

In [27]:
# 2 dimensional array
for i in array2: # remember there are 3 arrays in array2!
    for j in i:
        print (j)

1
2
3
4
5
6
7
8
9
10
11
12

In [29]:
# or same thing...
for i in array2.flat:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [31]:
"""

E) Basic Operations

"""

'\n\nE) Basic Operations\n\n'

In [32]:
# You can do basic operations on arrays that will be applied per element. A new array will be made with the results.
a1 = np.array([1,2,3,4])
a2 = np.ones((1,4), dtype=np.int)
a3 = np.zeros((1,4), dtype=np.int)

In [33]:
a1 + a2 - a3

array([[2, 3, 4, 5]])

In [34]:
a2 * a3 / a2

array([[ 0.,  0.,  0.,  0.]])

In [35]:
np.sin(a1)

array([ 0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [36]:
# Boolean
a2 < 2

array([[ True,  True,  True,  True]], dtype=bool)

In [ ]:
"""

F) Methods

"""

In [38]:
# Mean
print (array1.mean())
print (array2.mean(axis=0)) # down columns
print (array2.mean(axis=1)) # across rows

22.6
[ 5.  6.  7.  8.]
[  2.5   6.5  10.5]

In [39]:
# Max
print (array1.max())
print (array2.max(axis=0)) # down columns
print (array2.max(axis=1)) # across rows

100
[ 9 10 11 12]
[ 4  8 12]

In [40]:
# Min
print (array1.min())
print (array2.min(axis=0)) # down columns
print (array2.min(axis=1)) # across rows

1
[1 2 3 4]
[1 5 9]

In [41]:
# Sum
print (array1.sum())
print (array2.sum(axis=0)) # down columns
print (array2.sum(axis=1)) # across rows

113
[15 18 21 24]
[10 26 42]

In [ ]:
"""

G) Reshaping

"""

In [42]:
# Copy
A = np.array([1,2,3,4,5,6,7,8,9,100])
B = A.copy()
B

array([  1,   2,   3,   4,   5,   6,   7,   8,   9, 100])

In [43]:
# Reshape
C = B.reshape((2,5))
C

array([[  1,   2,   3,   4,   5],
       [  6,   7,   8,   9, 100]])

In [44]:
# Switch Datatype
D = C.astype(np.float)
D

array([[   1.,    2.,    3.,    4.,    5.],
       [   6.,    7.,    8.,    9.,  100.]])

In [47]:
# Roll
print ("One dimensional examples")
E = np.roll(A, 1, axis=0)
F = np.roll(E, 1, axis=0)
print (E)
print (F)
print ("")
print ("Two dimensional examples")
print (np.roll(C, 1, axis=0))
print (np.roll(C, 1, axis=1))

One dimensional examples
[100   1   2   3   4   5   6   7   8   9]
[  9 100   1   2   3   4   5   6   7   8]

Two dimensional examples
[[  6   7   8   9 100]
 [  1   2   3   4   5]]
[[  5   1   2   3   4]
 [100   6   7   8   9]]

In [48]:
# Transpose
C.T

array([[  1,   6],
       [  2,   7],
       [  3,   8],
       [  4,   9],
       [  5, 100]])

In [50]:

# To List
C.tolist()

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 100]]