In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [10]:
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen

In [20]:
url = "http://www.hubertiming.com/results/2017GPTR10K"
page = urlopen(url)

In [21]:
html = soup(page, 'lxml')

In [28]:
rows = html.find_all("tr")

In [39]:
list_rows = []
for row in rows:
    row_td = row.find_all('td')
    str_cells = str(row_td)
    cleanedText = soup(str_cells, 'lxml').get_text()
    list_rows.append(cleanedText)

In [41]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                  [Finishers:, 577]
1                                       [Male:, 414]
2                                     [Female:, 163]
3                                                 []
4  [1, 814, JARED WILSON, M, TIGARD, OR, 00:36:21...
5  [2, 573, NATHAN A SUSTERSIC, M, PORTLAND, OR, ...
6  [3, 687, FRANCISCO MAYA, M, PORTLAND, OR, 00:3...
7  [4, 623, PAUL MORROW, M, BEAVERTON, OR, 00:38:...
8  [5, 569, DEREK G OSBORNE, M, HILLSBORO, OR, 00...
9  [6, 642, JONATHON TRAN, M, PORTLAND, OR, 00:39...

In [42]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,[Finishers:,577],None,None,None,None,None,None,None,None,None,None,None,None
1,[Male:,414],None,None,None,None,None,None,None,None,None,None,None,None
2,[Female:,163],None,None,None,None,None,None,None,None,None,None,None,None
3,[],None,None,None,None,None,None,None,None,None,None,None,None,None
4,[1,814,JARED WILSON,M,TIGARD,OR,00:36:21,05:51,1 of 414,M 36-45,1 of 152,00:00:03,00:36:24,]
5,[2,573,NATHAN A SUSTERSIC,M,PORTLAND,OR,00:36:42,05:55,2 of 414,M 26-35,1 of 154,00:00:03,00:36:45,INTEL TEAM F]
6,[3,687,FRANCISCO MAYA,M,PORTLAND,OR,00:37:44,06:05,3 of 414,M 46-55,1 of 64,00:00:04,00:37:48,]
7,[4,623,PAUL MORROW,M,BEAVERTON,OR,00:38:34,06:13,4 of 414,M 36-45,2 of 152,00:00:03,00:38:37,]
8,[5,569,DEREK G OSBORNE,M,HILLSBORO,OR,00:39:21,06:20,5 of 414,M 26-35,2 of 154,00:00:03,00:39:24,INTEL TEAM F]
9,[6,642,JONATHON TRAN,M,PORTLAND,OR,00:39:49,06:25,6 of 414,M 18-25,1 of 34,00:00:06,00:39:55,]